-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: Kids_Vehicle_tracking_Db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `class_master`
--

DROP TABLE IF EXISTS `class_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_master` (
  `class_id` int NOT NULL AUTO_INCREMENT,
  `class_name` varchar(50) NOT NULL,
  `class_order` int NOT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `school_id` int NOT NULL,
  PRIMARY KEY (`class_id`),
  KEY `FKitw1fkiaggrubqr8cd47v86s4` (`school_id`),
  CONSTRAINT `FKitw1fkiaggrubqr8cd47v86s4` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `dispatch_logs`
--

DROP TABLE IF EXISTS `dispatch_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dispatch_logs` (
  `dispatch_log_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `event_type` enum('DROP_TO_PARENT','DROP_TO_SCHOOL','GATE_ENTRY','GATE_EXIT','PICKUP_FROM_PARENT','PICKUP_FROM_SCHOOL') NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `school_id` int NOT NULL,
  `student_id` int NOT NULL,
  `trip_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  PRIMARY KEY (`dispatch_log_id`),
  KEY `FKn3f519w7yg76gigkfym6y5tf1` (`school_id`),
  KEY `FKjhrwt12sifrellxqkc8vk971y` (`student_id`),
  KEY `FKi9epdicvxp1k5ge1yhk5jt7xo` (`trip_id`),
  KEY `FK6blke712wmcly3sxreiosp4f8` (`vehicle_id`),
  CONSTRAINT `FK6blke712wmcly3sxreiosp4f8` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`),
  CONSTRAINT `FKi9epdicvxp1k5ge1yhk5jt7xo` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`trip_id`),
  CONSTRAINT `FKjhrwt12sifrellxqkc8vk971y` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `FKn3f519w7yg76gigkfym6y5tf1` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `drivers`
--

DROP TABLE IF EXISTS `drivers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drivers` (
  `driver_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `driver_address` varchar(255) NOT NULL,
  `driver_contact_number` varchar(15) NOT NULL,
  `driver_name` varchar(100) NOT NULL,
  `driver_photo` longtext,
  `email` varchar(150) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `u_id` int DEFAULT NULL,
  PRIMARY KEY (`driver_id`),
  UNIQUE KEY `UK5fv2fovol966qungc0xecwgqk` (`driver_contact_number`),
  UNIQUE KEY `uk_drivers_user` (`u_id`),
  CONSTRAINT `FK6wnh0qefwkcfaoucj58i9dinc` FOREIGN KEY (`u_id`) REFERENCES `user` (`u_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notification_log_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `error_msg` varchar(255) DEFAULT NULL,
  `is_sent` bit(1) NOT NULL,
  `notification_type` enum('EMAIL','PUSH','SMS') NOT NULL,
  `sent_at` datetime(6) DEFAULT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `dispatch_log_id` int NOT NULL,
  PRIMARY KEY (`notification_log_id`),
  KEY `FKkgns7w9dcyqocvt0bwqjsq7of` (`dispatch_log_id`),
  CONSTRAINT `FKkgns7w9dcyqocvt0bwqjsq7of` FOREIGN KEY (`dispatch_log_id`) REFERENCES `dispatch_logs` (`dispatch_log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `password_reset_token`
--

DROP TABLE IF EXISTS `password_reset_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_token` (
  `id` int NOT NULL AUTO_INCREMENT,
  `expiry` datetime(6) DEFAULT NULL,
  `login_id` varchar(255) DEFAULT NULL,
  `otp` varchar(255) DEFAULT NULL,
  `used` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pending_user`
--

DROP TABLE IF EXISTS `pending_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pending_user` (
  `pending_user_id` int NOT NULL AUTO_INCREMENT,
  `contact_number` varchar(20) DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `entity_id` bigint NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `is_active` bit(1) NOT NULL,
  `is_used` bit(1) NOT NULL,
  `token` varchar(255) NOT NULL,
  `token_expiry` datetime(6) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `role_id` int NOT NULL,
  PRIMARY KEY (`pending_user_id`),
  UNIQUE KEY `UKoissmr37kf9w0tnd3tfre5m4q` (`token`),
  KEY `FK76xb99tg4ugcrhuk0wpak9be2` (`role_id`),
  CONSTRAINT `FK76xb99tg4ugcrhuk0wpak9be2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `role_name` varchar(50) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `UK716hgxp60ym1lifrdgp67xt5k` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `school`
--

DROP TABLE IF EXISTS `school`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school` (
  `school_id` int NOT NULL AUTO_INCREMENT,
  `address` varchar(300) DEFAULT NULL,
  `affiliation_board` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `contact_no` varchar(20) DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `pincode` varchar(20) DEFAULT NULL,
  `registration_number` varchar(100) DEFAULT NULL,
  `school_code` varchar(50) NOT NULL,
  `school_name` varchar(200) NOT NULL,
  `school_photo` longtext,
  `school_type` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`school_id`),
  UNIQUE KEY `UKkshhmdqjvf80nyraai0m8902s` (`school_code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `school_user`
--

DROP TABLE IF EXISTS `school_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_user` (
  `school_user_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `role_id` int NOT NULL,
  `school_id` int NOT NULL,
  `u_id` int NOT NULL,
  PRIMARY KEY (`school_user_id`),
  UNIQUE KEY `uk_school_user` (`school_id`,`u_id`),
  KEY `FK5tjgeqab81mveh5cgpftx0pk2` (`role_id`),
  KEY `FKddkn6gifk4a031o73ei8h227j` (`u_id`),
  CONSTRAINT `FK5tjgeqab81mveh5cgpftx0pk2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`),
  CONSTRAINT `FK6ngjgt9hbd4vrimrtcvaard5f` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`),
  CONSTRAINT `FKddkn6gifk4a031o73ei8h227j` FOREIGN KEY (`u_id`) REFERENCES `user` (`u_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `school_vehicles`
--

DROP TABLE IF EXISTS `school_vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_vehicles` (
  `school_vehicle_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `owner_id` int NOT NULL,
  `school_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  PRIMARY KEY (`school_vehicle_id`),
  UNIQUE KEY `uk_school_vehicle` (`school_id`,`vehicle_id`),
  KEY `FK9m0vc5fcyf70mg1ml1vk0r0w` (`owner_id`),
  KEY `FKlpw5dnq2c6j5gvhq4tu6tenvq` (`vehicle_id`),
  CONSTRAINT `FK62oniqe7n5vg8u4r0ybveicaw` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`),
  CONSTRAINT `FK9m0vc5fcyf70mg1ml1vk0r0w` FOREIGN KEY (`owner_id`) REFERENCES `vehicle_owner` (`owner_id`),
  CONSTRAINT `FKlpw5dnq2c6j5gvhq4tu6tenvq` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `section_master`
--

DROP TABLE IF EXISTS `section_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `section_master` (
  `section_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `section_name` varchar(50) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `school_id` int NOT NULL,
  PRIMARY KEY (`section_id`),
  KEY `FKsd7ru7pffbitsm44ialkyg7e6` (`school_id`),
  CONSTRAINT `FKsd7ru7pffbitsm44ialkyg7e6` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `student_attendance`
--

DROP TABLE IF EXISTS `student_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_attendance` (
  `attendance_id` int NOT NULL AUTO_INCREMENT,
  `arrival_time` varchar(255) DEFAULT NULL,
  `attendance_date` date NOT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `departure_time` varchar(255) DEFAULT NULL,
  `is_absent` bit(1) NOT NULL,
  `is_late` bit(1) NOT NULL,
  `is_present` bit(1) NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `student_id` int NOT NULL,
  PRIMARY KEY (`attendance_id`),
  KEY `FKom8v4b1hh9n50u1fpx4xvw3oq` (`student_id`),
  CONSTRAINT `FKom8v4b1hh9n50u1fpx4xvw3oq` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `student_parent`
--

DROP TABLE IF EXISTS `student_parent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_parent` (
  `student_parent_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `relation` varchar(50) DEFAULT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `parent_user_id` int DEFAULT NULL,
  `student_id` int NOT NULL,
  PRIMARY KEY (`student_parent_id`),
  KEY `FKrir4bn7lgftc0nt7s51t9dw90` (`parent_user_id`),
  KEY `FKjyxwisqrk6826tho7yb4lk8hg` (`student_id`),
  CONSTRAINT `FKjyxwisqrk6826tho7yb4lk8hg` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `FKrir4bn7lgftc0nt7s51t9dw90` FOREIGN KEY (`parent_user_id`) REFERENCES `user` (`u_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `student_id` int NOT NULL AUTO_INCREMENT,
  `alternate_contact_number` varchar(15) DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `father_name` varchar(100) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `gender` enum('Female','Male','Other') DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `middle_name` varchar(50) DEFAULT NULL,
  `mother_name` varchar(100) NOT NULL,
  `primary_contact_number` varchar(15) NOT NULL,
  `student_photo` longtext,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `class_id` int NOT NULL,
  `school_id` int NOT NULL,
  `section_id` int NOT NULL,
  PRIMARY KEY (`student_id`),
  KEY `FK5ybigj3yqmkl4ghbl8clxokny` (`class_id`),
  KEY `FK21tt8xq83kbgwd98k4dybhp1b` (`school_id`),
  KEY `FK5uqvxp6w329rlu63cbh8yc5ko` (`section_id`),
  CONSTRAINT `FK21tt8xq83kbgwd98k4dybhp1b` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`),
  CONSTRAINT `FK5uqvxp6w329rlu63cbh8yc5ko` FOREIGN KEY (`section_id`) REFERENCES `section_master` (`section_id`),
  CONSTRAINT `FK5ybigj3yqmkl4ghbl8clxokny` FOREIGN KEY (`class_id`) REFERENCES `class_master` (`class_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trip_status`
--

DROP TABLE IF EXISTS `trip_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trip_status` (
  `trip_status_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `end_time` datetime(6) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `start_time` datetime(6) DEFAULT NULL,
  `status` enum('CANCELLED','COMPLETED','DELAYED','IN_PROGRESS','NOT_STARTED') NOT NULL,
  `status_time` datetime(6) NOT NULL,
  `total_time_minutes` int DEFAULT NULL,
  `trip_id` int NOT NULL,
  PRIMARY KEY (`trip_status_id`),
  KEY `FKs4nb9cxpdgqdvvos1ebo06elo` (`trip_id`),
  CONSTRAINT `FKs4nb9cxpdgqdvvos1ebo06elo` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`trip_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trip_students`
--

DROP TABLE IF EXISTS `trip_students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trip_students` (
  `trip_student_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `pickup_order` int DEFAULT NULL,
  `updated_by` varchar(255) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `student_id` int NOT NULL,
  `trip_id` int NOT NULL,
  PRIMARY KEY (`trip_student_id`),
  UNIQUE KEY `uk_trip_student` (`trip_id`,`student_id`),
  KEY `FKcgvjqxn1l067j8q15fjdq3f4f` (`student_id`),
  CONSTRAINT `FKcgvjqxn1l067j8q15fjdq3f4f` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `FKh0mnqu0xh1hpx147e1o9ftw5x` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`trip_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trips`
--

DROP TABLE IF EXISTS `trips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trips` (
  `trip_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `estimated_duration_minutes` int DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `route_description` varchar(500) DEFAULT NULL,
  `route_name` varchar(200) DEFAULT NULL,
  `scheduled_time` time(6) DEFAULT NULL,
  `trip_end_time` datetime(6) DEFAULT NULL,
  `trip_name` varchar(100) NOT NULL,
  `trip_number` int DEFAULT NULL,
  `trip_start_time` datetime(6) DEFAULT NULL,
  `trip_status` varchar(20) DEFAULT NULL,
  `trip_type` enum('AFTERNOON_DROP','FIELD_TRIP','MORNING_PICKUP','SPECIAL_TRIP') DEFAULT NULL,
  `updated_by` varchar(255) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `driver_id` int DEFAULT NULL,
  `school_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  PRIMARY KEY (`trip_id`),
  UNIQUE KEY `uk_trip_school_vehicle_number` (`school_id`,`vehicle_id`,`trip_number`),
  KEY `FKaq8aob3mymsvmh1fkko7k9ql9` (`driver_id`),
  KEY `FKqahsaodjirbk4if91c9bfnlgg` (`vehicle_id`),
  CONSTRAINT `FK38369yholilth0tb70cjxh2fy` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`),
  CONSTRAINT `FKaq8aob3mymsvmh1fkko7k9ql9` FOREIGN KEY (`driver_id`) REFERENCES `drivers` (`driver_id`),
  CONSTRAINT `FKqahsaodjirbk4if91c9bfnlgg` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `u_id` int NOT NULL AUTO_INCREMENT,
  `contact_number` varchar(15) NOT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `password` varchar(255) DEFAULT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `user_name` varchar(50) NOT NULL,
  PRIMARY KEY (`u_id`),
  UNIQUE KEY `UKlqjrcobrh9jc8wpcar64q1bfh` (`user_name`),
  UNIQUE KEY `UKob8kqyqqgmefl0aco34akdtpe` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `user_role_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `role_id` int NOT NULL,
  `u_id` int NOT NULL,
  PRIMARY KEY (`user_role_id`),
  KEY `FKh8ciramu9cc9q3qcqiv4ue8a6` (`role_id`),
  KEY `FKcguftutmbaegj088yu86y4jx5` (`u_id`),
  CONSTRAINT `FKcguftutmbaegj088yu86y4jx5` FOREIGN KEY (`u_id`) REFERENCES `user` (`u_id`),
  CONSTRAINT `FKh8ciramu9cc9q3qcqiv4ue8a6` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vehicle_assignment_requests`
--

DROP TABLE IF EXISTS `vehicle_assignment_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_assignment_requests` (
  `request_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `status` enum('APPROVED','PENDING','REJECTED') NOT NULL,
  `updated_by` varchar(255) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `owner_id` int NOT NULL,
  `school_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  PRIMARY KEY (`request_id`),
  KEY `FKq53itm4ouvwx6daskxtj96px8` (`owner_id`),
  KEY `FKcsq3dfglxqywutyf1sq3gl6p2` (`school_id`),
  KEY `FKhp7s0vhlfgalbfhjkt56f548m` (`vehicle_id`),
  CONSTRAINT `FKcsq3dfglxqywutyf1sq3gl6p2` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`),
  CONSTRAINT `FKhp7s0vhlfgalbfhjkt56f548m` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`),
  CONSTRAINT `FKq53itm4ouvwx6daskxtj96px8` FOREIGN KEY (`owner_id`) REFERENCES `vehicle_owner` (`owner_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vehicle_driver`
--

DROP TABLE IF EXISTS `vehicle_driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_driver` (
  `vehicle_driver_id` int NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_primary` bit(1) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `updated_by` varchar(255) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `driver_id` int NOT NULL,
  `school_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  `is_available` bit(1) DEFAULT NULL,
  `is_backup_driver` bit(1) DEFAULT NULL,
  `unavailability_reason` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`vehicle_driver_id`),
  KEY `FKkfytab289kfkxhpijfor913gw` (`driver_id`),
  KEY `FKayhby3spr9sc58esa2x91iv0t` (`school_id`),
  KEY `FK2omnl9phg4mypvvtx7yryqaji` (`vehicle_id`),
  CONSTRAINT `FK2omnl9phg4mypvvtx7yryqaji` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`),
  CONSTRAINT `FKayhby3spr9sc58esa2x91iv0t` FOREIGN KEY (`school_id`) REFERENCES `school` (`school_id`),
  CONSTRAINT `FKkfytab289kfkxhpijfor913gw` FOREIGN KEY (`driver_id`) REFERENCES `drivers` (`driver_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vehicle_owner`
--

DROP TABLE IF EXISTS `vehicle_owner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_owner` (
  `owner_id` int NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `name` varchar(150) DEFAULT NULL,
  `updated_by` varchar(255) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `u_id` int DEFAULT NULL,
  PRIMARY KEY (`owner_id`),
  UNIQUE KEY `uk_vehicle_owner_user` (`u_id`),
  CONSTRAINT `FKensvm785w1r0poflq8ayaqbd5` FOREIGN KEY (`u_id`) REFERENCES `user` (`u_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles` (
  `vehicle_id` int NOT NULL AUTO_INCREMENT,
  `capacity` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `registration_number` varchar(20) NOT NULL,
  `updated_by` varchar(50) DEFAULT NULL,
  `updated_date` datetime(6) DEFAULT NULL,
  `vehicle_number` varchar(10) NOT NULL,
  `vehicle_photo` longtext,
  `vehicle_type` enum('Auto','Bus','Car','Van') DEFAULT NULL,
  PRIMARY KEY (`vehicle_id`),
  UNIQUE KEY `UKf6xfxoc4kprkjkst07tq63y6` (`registration_number`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-11 23:43:07
